/Encuentro 5/nbproject/private/
/Encuentro 5/build/
/Encuentro6/nbproject/private/
/Encuentro6/build/
/Encuentro7/nbproject/private/
/Encuentro7/build/
/Encuentro8/nbproject/private/
/Encuentro8/build/
/detecciones de error/build/
/Encuentro9/nbproject/private/
/Encuentro9/build/
/Encuentro10/nbproject/private/
/Encuentro10/build/
/Encuentro11/nbproject/private/
/Encuentro11/build/
/POOEj01/nbproject/private/
/POOEj01/build/
/Encuentro15_POO_01/nbproject/private/
/Encuentro15_POO_01/build/